body {
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #3eabd3;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
}

#menu {
	font-size: 2rem;
	border: 0;
	background: none;
	color: white;
	position: absolute;
	top: 11.2rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "🆇";
}

.open li {
	display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style: none;
}

nav ul li {
    margin: 1rem;
    display: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hero {
    background-color: #1b6682;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.cta-button {
    background-color: #ff6600;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

#gallery h2 {
    text-align: center;
    font-size: 1.8rem;
}

.gallery {
    margin: 0 auto;
    width: 90vw;
}

.gallery figure {
    text-align: center;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgba(0, 0, 0, 0.076);
}

.gallery img {
    margin: 1rem;
    border: 1px solid lightgrey;
    width: 90%;
}

.about {
    padding: 50px 0;
    background-color: #f4f4f4;
    text-align: center;
}

.about p {
    font-size: 1.2rem;
    color: #555;
}

.services {
    padding: 50px 0;
    background-color: #1b6682;
    color: #fff;
}

.services h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}

.service-item {
    text-align: center;
    background-color: #164455;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: .5rem;
    margin: .5rem;
}

.service-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 1.1rem;
}

.contact {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact input,
.contact textarea {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact button {
    padding: 15px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.contact button:hover {
    background-color: #e65c00;
}

#formStatus {
    margin-top: 20px;
    font-size: 1.1rem;
    color: green;
}

footer {
    background-color: #3eabd3;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.aboutpage {
    padding: 50px 0;
    text-align: center;
}

.aboutpage p {
    font-size: 1.2rem;
    color: #555;
}

.aboutpage h2 {
    font-size: 2rem;
}

.aboutpage h3 {
    font-size: 1.5rem;
}

.why {
    padding: 1rem 2rem;
}

.why li {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
}

#chooseus {
    background-color: #f4f4f4;
    border: 1px solid grey;
}